# Application cache
.cache
*__pycache__
.pytest_cache/

# To be ignored files
*__ignore
*.coverage

# Dist
dist

# Log
logs

# virtual environment
venv/
.venv/

# environment file
*.env
*.env.*
!.env.example
.python-version
connections.*.json

# Vscode stuffs
.vscode/
.history/

# jetbrains
.idea/

# Flask stuffs
instance/
.webassets-cache

# Packages
*.egg
*.egg-info
build/

# Node Packages
node_modules/
.node_modules/
built/*
build.json
*.config
.settings
yarn.lock
yarn-error.log
package-lock.json
.eslintcache
*v8.log
/lib/

# databases
*.sqlite3
/db/*.sqlite3
*.db

# terraform
.terraform*
terraform.tfstate*
*.tfvars
.tfplan

# env
.env
